.racing-bet-bg {
  background: #1a2c38;
  color: #b1bad3;
}
.racing-bet-bg1 {
  background: linear-gradient(90deg, #24ee89 0%, #9fe871 100%);
}

.racing-bet-bg2 {
  background: #2f4553;
}
.racing-bet-text {
  color: #b1bad3;
}
.racing-bet-text1 {
  color: #fd565c;
}
.racing-bet-text2 {
  color: #000;
}
.racing-bet-text3 {
  color: #b1bad3;
}
.racing-bet-text4 {
  color: #24ee89;
}
.racing-bet-border {
  border-color: #2f4553;
  background: #0f212e;
}
