.racing-bet-bg {
  background: #fff;
  color: #0d2245;
}
.racing-bet-bg1 {
  background: #ff646c;
}
.racing-bet-bg2 {
  background: #25253c;
}
.racing-bet-text {
  color: #6d7693;
}
.racing-bet-text1 {
  color: #fd565c;
}
.racing-bet-text2 {
  color: #fff;
}
.racing-bet-text3 {
  color: #4d4d4d;
}
.racing-bet-text4 {
  color: #f23038;
}
.racing-bet-border {
  border-color: #ebebeb;
}
