@keyframes balls-scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-balls-scale {
  animation: balls-scale 0.3s ease-in-out infinite;
}
.zero {
  background: linear-gradient(to bottom right, #fb4e4e 50%, #eb43dd 50%);
  color: #fff;
  border: none;
}
.five {
  background: linear-gradient(to bottom right, #5cba47 50%, #eb43dd 0);
  color: #fff;
  border: none;
}
.red {
  background: #fb4e4e;
  color: #fff;
  border: none;
}
.green {
  background: #5cba47;
  color: #fff;
  border: none;
}
.bet-area {
  background-color: #eaeaea;
  .bet-green {
    background-color: #40ad72;
    box-shadow: 0 2rem 6rem 0 #bae6b0;
  }
  .bet-purple {
    background-color: #b659fe;
    box-shadow: 0 2rem 6rem 0 #b659fe;
  }
  .bet-red {
    background-color: #fd565c;
    box-shadow: 0px 2rem 6rem 0 #fd565c;
  }
}
.bet-grid {
  background-color: #f2f2f2;
  color: #6d7693;
}
.random-btn {
  border: 1px solid #1d864c;
  --lot-base-btn-default-color: #1d864c;
}

.multiply-btn {
  background-color: #fff;
  color: #0d2245;
}

.multiply-btn-active {
  background-color: #f23038;
  color: #fff;
}
.main-text-color {
  color: #000000;
}
.main-border-color {
  color: #000000;
}
