@import 'tailwindcss';
@import './public.css';

@theme {
  /*品牌色*/
  --color-brand-hsl: 150;
  --color-brand: hsla(var(--color-brand-hsl), 86%, 54%, 1);
  --color-brand-100: hsla(var(--color-brand-hsl), 86%, 54%, 0.1);
  --color-brand-200: hsla(var(--color-brand-hsl), 86%, 54%, 0.2);
  --color-brand-300: hsla(var(--color-brand-hsl), 86%, 54%, 0.3);
  --color-brand-400: hsla(var(--color-brand-hsl), 86%, 54%, 0.4);
  --color-brand-500: hsla(var(--color-brand-hsl), 86%, 54%, 0.5);
  --color-brand-600: hsla(var(--color-brand-hsl), 86%, 54%, 0.6);
  --color-brand-700: hsla(var(--color-brand-hsl), 86%, 54%, 0.7);
  --color-brand-800: hsla(var(--color-brand-hsl), 86%, 54%, 0.8);
  --color-brand-900: hsla(var(--color-brand-hsl), 86%, 54%, 0.9);

  /*白色*/
  --color-white-hsl: 0;
  --color-white: hsla(var(--color-white-hsl), 0%, 100%, 1);
  --color-white-50: hsla(var(--color-white-hsl), 0%, 100%, 0.05);
  --color-white-100: hsla(var(--color-white-hsl), 0%, 100%, 0.1);
  --color-white-200: hsla(var(--color-white-hsl), 0%, 100%, 0.2);
  --color-white-300: hsla(var(--color-white-hsl), 0%, 100%, 0.3);
  --color-white-400: hsla(var(--color-white-hsl), 0%, 100%, 0.4);
  --color-white-500: hsla(var(--color-white-hsl), 0%, 100%, 0.5);
  --color-white-600: hsla(var(--color-white-hsl), 0%, 100%, 0.6);
  --color-white-700: hsla(var(--color-white-hsl), 0%, 100%, 0.7);
  --color-white-800: hsla(var(--color-white-hsl), 0%, 100%, 0.8);
  --color-white-900: hsla(var(--color-white-hsl), 0%, 100%, 0.9);

  /*黑色*/
  --color-black-hsl: 0;
  --color-black: hsla(var(--color-black-hsl), 0%, 0%, 1);
  --color-black-50: hsla(var(--color-black-hsl), 0%, 0%, 0.05);
  --color-black-100: hsla(var(--color-black-hsl), 0%, 0%, 0.1);
  --color-black-200: hsla(var(--color-black-hsl), 0%, 0%, 0.2);
  --color-black-300: hsla(var(--color-black-hsl), 0%, 0%, 0.3);
  --color-black-400: hsla(var(--color-black-hsl), 0%, 0%, 0.4);
  --color-black-500: hsla(var(--color-black-hsl), 0%, 0%, 0.5);
  --color-black-600: hsla(var(--color-black-hsl), 0%, 0%, 0.6);
  --color-black-700: hsla(var(--color-black-hsl), 0%, 0%, 0.7);
  --color-black-800: hsla(var(--color-black-hsl), 0%, 0%, 0.8);
  --color-black-900: hsla(var(--color-black-hsl), 0%, 0%, 0.9);

  /*功能色*/
  --color-function-red: hsla(0, 97%, 61%, 1);
  --color-function-red-15: hsla(0, 97%, 61%, 0.15);
  --color-function-orange: hsla(32, 100%, 56%, 1);
  --color-function-green: hsla(107, 76%, 48%, 1);
  /*需要调整*/
  --color-function-green-300: hsla(107, 26%, 28%, 1);
  --color-function-blue: hsla(219, 100%, 50%, 1);
  /*需要调整*/
  --color-function-blue-200: hsla(219, 100%, 50%, 1);
  --color-function-yellow: hsla(47, 100%, 73%, 1);

  /*字体颜色*/
  --color-text-white-1: hsla(193, 10%, 73%, 1);
  --color-text-white-2: hsla(193, 10%, 73%, 1);
  --color-text-white-3: hsla(195, 5%, 67%, 1);
  --color-text-white-4: hsla(210, 1%, 63%, 1);
  --color-text-white-5: hsla(191, 7%, 55%, 1);
  --color-text-white-6: hsla(0, 0%, 46%, 1);

  /*背景色*/
  --color-bg-black-1: hsla(180, 5%, 12%, 1);
  --color-bg-black-2: hsla(180, 4%, 14%, 1);
  --color-bg-black-3: hsla(192, 6%, 17%, 1);
  --color-bg-black-4: hsla(190, 6%, 21%, 1);
  --color-bg-black-5: hsla(187, 6%, 24%, 1);
  --color-bg-black-6: hsla(186, 6%, 31%, 1);

  /*边框色*/
  --color-border-black-1: hsla(180, 5%, 12%, 1);
  --color-border-black-2: hsla(180, 4%, 14%, 1);
  --color-border-black-3: hsla(192, 6%, 17%, 1);
  --color-border-black-4: hsla(190, 6%, 21%, 1);
  --color-border-black-5: hsla(187, 6%, 24%, 1);
  --color-border-black-6: hsla(186, 6%, 31%, 1);

  /* 圆角 */
  --radius-md: 5px;
}
