// @function scalePixelValue($value, $idealViewportWidth: 1600, $min: 770px, $max: 1200px) {
//   @return calc(#{$value} * (clamp(#{$min}, 100vw, #{$max}) / #{$idealViewportWidth}))
// }

@mixin getBackgroundImage($image) {
  background-image: url('/stake/png' + $image + '.png');

  @at-root .webp & {
    background-image: url('/stake/webp' + $image + '.webp');
  }
}

@mixin webTheme($color) {
  html[theme = #{$color}] & {
    @content;
  }
}