:root {
  --tg-text-blue: #00E701;
  --tg-text-lightblue: #00E701;
  --tg-sub-deepblue: #00E701;
  --tg-sub-blue: #00E701;
  --tg-sub-lightblue: #00E701;
  --tg-border-blue: #00BE01;
  --tg-popper-color-default: #383D41;
  --tg-tab-active-bar: #00E701;
}
