/** afun-h5 */
:root[data-themenameforglobalcss='themenameforglobalcss-afun-h5'] {
  --ss-spt-page-title-color1: #fff;
  --ss-spt-home-market-type-tabs-bg1: #f6f7f8;
  --ss-spt-home-market-type-tabs-color1: #fff;
  --ss-spt-home-market-type-tabs-color2: #f23038;
  --ss-spt-home-market-type-tabs-color3: #f23038;
  --ss-spt-event-type-tab-color1: #fff;
  --ss-spt-outright-preview-skeleton-bg1: #213743;
  --ss-spt-outright-preview-skeleton-bg2: #213743;
  --ss-spt-outright-preview-skeleton-color1: #b1bad3;
  --ss-spt-outright-preview-skeleton-border1: 2px solid #2f4553;
  --ss-spt-outright-preview-bg1: #2f4553;
  --ss-spt-outright-preview-bg2: #ebebeb;
  --ss-spt-outright-preview-color1: #b1bad3;
  --ss-spt-outright-preview-color2: #fff;
  --ss-spt-outright-preview-color3: #6d7693;
  --ss-spt-market-skeleton-bg1: #213743;
  --ss-spt-market-skeleton-bg2: #213743;
  --ss-spt-market-skeleton-color1: #b1bad3;
  --ss-spt-market-skeleton-border1: #2f4553;
  --ss-spt-market-bg1: #2f4553;
  --ss-spt-market-color1: #b1bad3;
  --ss-spt-today-event-lobby-color1: #b1bad3;
  --ss-spt-market-info-color1: #b1bad3;
  --ss-spt-market-info-color2: #b1bad3;
  --ss-spt-market-info-color3: #fff;
  --ss-spt-market-info-color4: #fff;
  --ss-spt-market-info-color5: #b1bad3;
  --ss-spt-market-info-color6: #ff9d00;
  --ss-spt-market-info-bg1: #e9113c;
  --ss-spt-market-info-bg2: #071824;
  --ss-spt-market-info-bg3: #2f4553;
  --ss-spt-market-info-border1: 2px solid #2f4553;
  --ss-spt-bet-button-bg1: #24ee89;
  --ss-spt-bet-button-color1: #000;
  --ss-spt-bet-button-color2: #000;
  --ss-spt-outcome-locked-bg1: #f6f7f8;
  --ss-spt-outcome-locked-color1: #9dabc8;
  --ss-spt-market-info-zhcn-bg1: #e91134;
  --ss-spt-market-info-zhcn-bg2: #f6f7f8;
  --ss-spt-market-info-zhcn-color1: #fff;
  --ss-spt-market-info-zhcn-color2: #fff;
  --ss-spt-market-info-zhcn-color3: #ff9800;
  --ss-spt-market-info-zhcn-color4: #9dabc8;
  --ss-spt-market-info-zhcn-color5: #fff;
  --ss-spt-market-info-zhcn-border1: #2f4553;
  --ss-spt-market-info-popup-bg1: #1a2c38;
  --ss-spt-market-info-popup-bg2: #213743;
  --ss-spt-market-info-popup-bg3: #0f212e;
  --ss-spt-market-info-popup-bg4: #213743;
  --ss-spt-market-info-popup-bg5: #0f212e;
  --ss-spt-market-info-popup-color1: #fff;
  --ss-spt-market-info-popup-color2: #6d7693;
  --ss-spt-market-info-popup-border1: #2f4553;
  --ss-spt-page-my-bet-color1: #fff;
  --ss-spt-page-my-bet-color2: #fff;
  --ss-spt-page-my-bet-color3: #b1bad3;
  --ss-spt-page-my-bet-bg1: #0f212e;
  --ss-spt-page-my-bet-bg2: #2f4554;
  --ss-spt-page-my-bet-bg3: #0f212e;
  --ss-spt-page-my-bet-color4: #fff;
  --ss-spt-page-my-bet-border1: #0f212e;
  --ss-spt-page-my-bet-border2: #2f4554;
  --ss-spt-my-bet-slip-skeleton-bg1: #fff;
  --ss-spt-my-bet-slip-skeleton-bg2: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg3: #ebebeb;
  --ss-spt-my-bet-slip-skeleton-bg6: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg7: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg8: #0f212e;
  --ss-spt-my-bet-slip-skeleton-bg9: #213743;
  --ss-spt-my-bet-slip-skeleton-bg10: #ebebeb;
  --ss-spt-my-bet-slip-skeleton-bg11: #2f4553;
  --ss-spt-my-bet-slip-skeleton-color2: #071d2a;
  --ss-spt-my-bet-slip-skeleton-color6: #0d2245;
  --ss-spt-my-bet-slip-skeleton-color8: #6d7693;
  --ss-spt-my-bet-slip-color1: #b1bad3;
  --ss-spt-my-bet-slip-color2: #071d2a;
  --ss-spt-my-bet-slip-color3: #fff;
  --ss-spt-my-bet-slip-color4: #fff;
  --ss-spt-my-bet-slip-color5: #b1bad3;
  --ss-spt-my-bet-slip-color6: #fff;
  --ss-spt-my-bet-slip-color7: #fff;
  --ss-spt-my-bet-slip-color8: #b1bad3;
  --ss-spt-my-bet-slip-color9: #4391e7;
  --ss-spt-my-bet-slip-color10: #fff;
  --ss-spt-my-bet-slip-bg1: #1a2c38;
  --ss-spt-my-bet-slip-bg2: #2f4553;
  --ss-spt-my-bet-slip-bg3: #2f4553;
  --ss-spt-my-bet-slip-bg4: #2ba471;
  --ss-spt-my-bet-slip-bg5: #6d7693;
  --ss-spt-my-bet-slip-bg6: #213743;
  --ss-spt-my-bet-slip-bg7: #213743;
  --ss-spt-my-bet-slip-bg8: #0f212e;
  --ss-spt-my-bet-slip-bg9: #213743;
  --ss-spt-my-bet-slip-bg10: #2f4553;
  --ss-spt-my-bet-slip-bg11: #2f4553;
  --ss-spt-match-statistics-bg1: #0f212e;
  --ss-spt-match-statistics-bg2: #1a2c38;
  --ss-spt-match-statistics-bg3: #0f212e;
  --ss-spt-match-statistics-bg4: #1a2c38;
  --ss-spt-match-statistics-bg5: #4391e7;
  --ss-spt-match-statistics-bg6: #2f4553;
  --ss-spt-match-statistics-color1: #ffffffb3;
  --ss-spt-match-statistics-color2: #b1bad3;
  --ss-spt-match-statistics-color3: #fff;
  --ss-spt-match-statistics-color4: #ff9d00;
  --ss-spt-match-statistics-border1: 1px solid #2f4553;
  --ss-spt-match-statistics-shadow1: 2rem 2rem 2rem 0 rgba(0, 0, 0, 0.35);
  --ss-spt-tabs-bg1: #0f212e;
  --ss-spt-tabs-color1: #b1bad3;
  --ss-spt-tabs-color2: #b1bad3;
  --ss-spt-tabs-color3: #fff;
  --ss-spt-tabs-color4: #04172d;
  --ss-spt-tabs-bg2: #071824;
  --ss-spt-tabs-bg4: #24ee89;
  --ss-spt-tabs-bg3: #24ee89;
  --ss-secondaryAccordion-header-background2: #213743;
  --ss-secondaryAccordion-header-title-color2: #d5dceb;
  --ss-secondaryAccordion-content-background2: #213743;
  --ss-secondaryAccordion-content-border-color2: #2f4553;
  --ss-secondaryAccordion-header-common-title-color: #d5dceb;
  --sports-bet-button-bg: #0f212e;
  --sports-bet-button-color: #fff;
  --ss-sports-market-info-zhcn-bg: #2f4553;
  --ss-sports-market-info-zhcn-text: #b1bad3;
  --ss-spt-market-info-zhcn-bg2: #0f212e;
  --ss-spt-market-info-zhcn-color5: #fff;
  --ss-spt-outcome-locked-bg1: #0f212e;
  --ss-sports-odds-color: #24ee89;
  --ss-sports-odds-up-color: #00e700;
  --ss-sports-odds-down-color: #ff2247;
  --ss-base-tab-active-background-color: #2f4553;
  --ss-base-tab-active-text-color: #fff;
  --ss-base-tab-text-color: #fff;
  --ss-secondaryAccordion-content-border-color: #2f4553;
  --ss-base-tab-background-color: #0f212e;
  --ss-base-loading-text-color: #fff;
  --ss-spt-outrights-league-bg1: #ebebeb;
  --ss-spt-outrights-league-color1: #fff;
  --ss-spt-outrights-league-color2: #b1bad3;
  --ss-base-button-text-default-color: #b1bad3;
  --ss-base-select-item-color: #2f4553;
  --ss-base-select-item-active-color: #15c16b;
  --ss-spt-market-info-zhcn-skeleton-bg1: #0f212e;
  --ss-spt-market-info-skeleton-bg1: #0f212e;
  --ss-spt-market-info-skeleton-border1: #2f4553;
  --ss-base-select-background-color: #0f212e;
  --ss-base-select-label-color: #fff;
  --ss-base-select-border-color: #0f212e;
  --ss-spt-floating-bet-slip-bg1: #24ee89;
  --ss-spt-floating-bet-slip-bg2: #e91134;
  --ss-spt-floating-bet-slip-bg3: #e91134;
  --ss-spt-floating-bet-slip-bg4: #0f212e;
  --ss-spt-floating-bet-slip-bg5: #213743;
  --ss-spt-floating-bet-slip-bg6: #304554;
  --ss-spt-floating-bet-slip-bg7: #0f212e;
  --ss-spt-floating-bet-slip-bg8: linear-gradient(90deg, #24ee89 0%, #9fe871 100%);
  --ss-spt-floating-bet-slip-bg9: #1a2c38;
  --ss-spt-floating-bet-slip-border1: 2px solid #213743;
  --ss-spt-floating-bet-slip-border2: #24ee89;
  --ss-spt-floating-bet-slip-border3: #304554;
  --ss-spt-floating-bet-slip-border4: #ed4163;
  --ss-spt-floating-bet-slip-color1: #6d7693;
  --ss-spt-floating-bet-slip-color2: #fff;
  --ss-spt-floating-bet-slip-color3: #f23038;
  --ss-spt-floating-bet-slip-color4: #fff;
  --ss-spt-floating-bet-slip-color5: #fff;
  --ss-spt-floating-bet-slip-color6: #b1bad3;
  --ss-spt-floating-bet-slip-color7: #ed4163;
  --ss-spt-floating-bet-slip-color8: #b1bad3;
  --ss-spt-floating-bet-slip-color9: #fff;
  --ss-spt-floating-bet-slip-color10: #fff;
  --ss-spt-floating-bet-slip-color11: #b1bad3;
  --ss-spt-floating-bet-slip-color12: #05080a;
  --ss-spt-floating-bet-slip-color13: #000;
  --ss-spt-floating-bet-slip-color14: #fff;
  --ss-base-button-style-bg: #24ee89;
  --ss-base-input-style-border: 2px solid #2f4553;
  --ss-base-input-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.122);
  --ss-base-input-style-bg: #0f212e;
  --ss-base-input-style-text-color: #fff;
  --ss-base-input-box-active-color: #557086;
  --ss-base-breadcrumbs-color1: #b1bad3;
  --ss-badge-background-color: #2f4553;
  --ss-badge-color: #d5dceb;
  --ss-spt-bet-slip-icon-color1: #2ba471;
  --ss-spt-bet-slip-icon-color2: #fff;
  --ss-spt-bet-slip-icon-color3: #b1bad3;
  --ss-spt-bet-slip-icon-color4: #b1bad3;
  --ss-spt-bet-slip-color1: #fff;
  --ss-spt-bet-slip-color2: #b1bad3;
  --ss-spt-bet-slip-color3: #b1bad3;
  --ss-spt-bet-slip-color4: #fff;
  --ss-spt-bet-slip-color5: #fff;
  --ss-spt-bet-slip-color6: #fff;
  --ss-spt-bet-slip-color7: #ed4163;
  --ss-spt-bet-slip-color8: #b1bad3;
  --ss-spt-bet-slip-color9: #b1bad3;
  --ss-spt-bet-slip-bg1: #1a2c38;
  --ss-spt-bet-slip-bg2: #2f4553;
  --ss-spt-bet-slip-bg3: #e9113c;
  --ss-spt-bet-slip-bg4: #213743;
  --ss-spt-bet-slip-bg5: #213743;
  --ss-spt-bet-slip-bg6: #5d0718;
  --ss-spt-bet-slip-bg7: #2f4553;
  --ss-spt-floating-bet-ch-color1: #fff;
  --ss-spt-floating-bet-ch-color2: #24ee89;
  --ss-spt-floating-bet-ch-color3: #000;
  --ss-spt-floating-bet-ch-color4: #b1bad3;
  --ss-spt-floating-bet-ch-color5: #f23038;
  --ss-spt-floating-bet-ch-color6: #fff;
  --ss-spt-floating-bet-ch-color7: #fff;
  --ss-spt-floating-bet-ch-color8: #6d7693;
  --ss-spt-floating-bet-ch-color9: #0d2245;
  --ss-spt-floating-bet-ch-color10: #bec7dc;
  --ss-spt-floating-bet-ch-color11: #24ee89;
  --ss-spt-floating-bet-ch-color12: #fff;
  --ss-spt-floating-bet-ch-color13: #fff;
  --ss-spt-floating-bet-ch-color14: #000;
  --ss-spt-floating-bet-ch-bg1: #24ee89;
  --ss-spt-floating-bet-ch-bg2: #000;
  --ss-spt-floating-bet-ch-bg3: #0f202e;
  --ss-spt-floating-bet-ch-bg4: #192934;
  --ss-spt-floating-bet-ch-bg5: #213743;
  --ss-spt-floating-bet-ch-bg6: #304554;
  --ss-spt-floating-bet-ch-bg7: #213743;
  --ss-spt-floating-bet-ch-bg8: #213743;
  --ss-spt-floating-bet-ch-bg9: #0f212e;
  --ss-spt-floating-bet-ch-border1: #24ee89;
  --ss-spt-floating-bet-ch-border2: #304554;
  --ss-spt-floating-bet-ch-border3: 1rem solid #2f4553;
  --ss-spt-floating-bet-slip-ch-color1: #000;
  --ss-spt-floating-bet-slip-ch-color2: #fff;
  --ss-spt-floating-bet-slip-ch-bg1: #24ee89;
  --ss-spt-floating-bet-slip-ch-bg2: #e91134;
  --ss-base-input-box-active-border-color: #557086;
  --ss-spt-slider-bg1: #24ee89;
  --ss-spt-slider-bg2: #000;
  --ss-spt-slider-color1: #000;
  --ss-spt-slider-color2: #000;
  --ss-spt-slider-color3: #24ee89;
  --ss-spt-slider-border1: #24ee89;
  --ss-numeric-keypad-bg: #213743;
  --ss-numeric-keypad-hover-bg: #2f4553;
  --ss-spt-base-numeric-keypad-color1: #fff;
  --ss-spt-bet-slip-ch-bg1: #213743;
  --ss-base-input-box-hover-border-color: #557086;
  --ss-spt-bet-slip-ch-bg2: #213743;
  --ss-spt-bet-slip-ch-bg3: #5d0718;
  --ss-spt-bet-slip-ch-bg4: #e9113c;
  --ss-spt-bet-slip-ch-bg5: #b1bad3;
  --ss-spt-bet-slip-ch-color1: #1fff20;
  --ss-spt-bet-slip-ch-color2: #fff;
  --ss-spt-bet-slip-ch-color3: #b1bad3;
  --ss-spt-bet-slip-ch-color4: #9dabc8;
  --ss-spt-bet-slip-ch-color5: #fff;
  --ss-spt-bet-slip-ch-color6: #0d2245;
  --ss-spt-bet-slip-ch-color7: #9dabc8;
  --ss-spt-bet-slip-ch-color8: #b1bad3;
  --ss-spt-bet-slip-ch-color9: #fff;
  --ss-spt-bet-slip-ch-color10: #fff;
  --ss-spt-bet-slip-ch-color11: #b1bad3;
  --ss-spt-bet-slip-ch-color12: #fff;
  --ss-spt-bet-slip-ch-color13: #00e700;
  --ss-spt-bet-slip-ch-color14: #ff2247;
  --ss-spt-bet-slip-ch-color15: #b1bad3;
  --ss-spt-bet-slip-ch-color16: #b1bad3;
  --ss-spt-bet-slip-ch-border1: 1px solid rgba(245, 245, 245, 0.1);
  --ss-spt-multi-bet-explain-dialog-bg1: #213743;
  --ss-spt-multi-bet-explain-dialog-bg2: #1b2c37;
  --ss-spt-multi-bet-explain-dialog-color1: #fff;
  --ss-spt-multi-bet-explain-dialog-color2: #b1bad3;
  --ss-spt-page-my-bet-mt1: 25px;
  --ss-base-empty-des-color: #b1bad3;
  --ss-base-dialog-background-color: #1a2c38;
  --ss-base-dialog-header-text-color: #fff;
  --ss-spt-dialog-bet-slip-sports-color1: #fff;
  --ss-spt-dialog-bet-slip-sports-color2: #b1bad3;
  --ss-spt-dialog-bet-slip-sports-bg1: #0f212e;
  --ss-spt-dialog-bet-slip-sports-mt1: 16rem;
  --ss-spt-nav-bread-crumb-color1: #fff;
  --ss-spt-nav-bread-crumb-color2: #fff;
  --ss-spt-nav-bread-crumb-color3: #0d2245;
  --ss-spt-nav-bread-crumb-color4: #ffffff80;
  --ss-spt-nav-bread-crumb-bg1: #0f212e;
  --ss-spt-nav-bread-crumb-bg2: #1a2c38;
  --ss-spt-fixture-bg1: #0f212e;
  --ss-spt-fixture-bg2: #071d2a;
  --ss-spt-fixture-bg3: #00e701;
  --ss-spt-fixture-bg4: #2f4553;
  --ss-spt-fixture-bg5: #213743;
  --ss-spt-fixture-bg6: #213743;
  --ss-spt-fixture-border1: 1px solid #2f4553;
  --ss-spt-fixture-border2: #2f4553;
  --ss-spt-fixture-border3: 2px solid red;
  --ss-spt-fixture-color1: #fff;
  --ss-spt-fixture-color2: #567086;
  --ss-spt-fixture-color3: #b1bad3;
  --ss-spt-fixture-color4: #0d2245;
  --ss-spt-fixture-color5: #0d2245;
  --ss-spt-fixture-color6: #b1bad3;
  --ss-spt-fixture-color7: #0d2245;
  --ss-spt-fixture-color8: #e9113c;
  --ss-spt-fixture-color9: #0d2245;
  --ss-spt-fixture-color10: #0d2245;
  --ss-spt-fixture-color11: #0d2245;
  --ss-spt-fixture-color12: #566771;
  --ss-spt-fixture-height1: 42px;
  --ss-spt-fixture-font-size1: 16px;
  --ss-spt-fixture-font-size2: 16px;
  --ss-spt-fixture-px: 9px;
  --ss-spt-level1-live-upcoming-color1: #fff;
  --ss-spt-level1-live-upcoming-color2: #b1bad3;
  --ss-spt-market-region-bg1: #071d2a;
  --ss-spt-market-region-bg2: #1a2c38;
  --ss-spt-market-region-color1: #b1bad3;
  --ss-spt-market-region-color2: #fff;
  --ss-spt-market-region-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.122),
    inset 0 1px rgba(255, 255, 255, 0.04);
  --ss-spt-market-league-bg1: #0f212e;
  --ss-secondaryAccordion-header-background: #0f212e;
  --ss-secondaryAccordion-header-title-color: #d5dceb;
  --ss-secondaryAccordion-content-background: #1a2c38;
  --ss-secondaryAccordion-content-border-color: #2f4553;
  --ss-spt-view-all-bg1: #0f212e;
  --ss-spt-view-all-bg2: #2f4553;
  --ss-spt-view-all-color1: #fff;
  --ss-secondaryAccordion-box-shadow1: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.122),
    inset 0 1px rgba(255, 255, 255, 0.04);
  --ss-spt-market-region-level2-bg1: #213743;
  --ss-spt-market-region-level2-bg2: #213743;
  --ss-spt-market-region-level2-bg3: #0f212e;
  --ss-spt-market-region-level2-color1: #d5dceb;
  --ss-spt-market-region-level2-border1: #2f4553;
  --ss-secondaryAccordion-show-more-border-color: #2f4553;
  --ss-base-button-color: #000;
  --ss-base-loading-filter: invert(1);
}
