/** ph-h5 */
:root[data-themenameforglobalcss='themenameforglobalcss-ph-h5'] {
  --ss-spt-page-title-color1: #0d2245;
  --ss-spt-home-market-type-tabs-bg1: #f6f7f8;
  --ss-spt-home-market-type-tabs-color1: #6d7693;
  --ss-spt-home-market-type-tabs-color2: #f23038;
  --ss-spt-home-market-type-tabs-color3: #f23038;
  --ss-spt-event-type-tab-color1: #0d2245;
  --ss-spt-outright-preview-skeleton-bg1: #fff;
  --ss-spt-outright-preview-skeleton-bg2: #fff;
  --ss-spt-outright-preview-skeleton-color1: #b1bad3;
  --ss-spt-outright-preview-skeleton-border1: 1rem solid #ebebeb;
  --ss-spt-outright-preview-bg1: #ebebeb;
  --ss-spt-outright-preview-bg2: #ebebeb;
  --ss-spt-outright-preview-color1: #6d7693;
  --ss-spt-outright-preview-color2: #0d2245;
  --ss-spt-outright-preview-color3: #6d7693;
  --ss-spt-market-skeleton-bg1: #fff;
  --ss-spt-market-skeleton-bg2: #fff;
  --ss-spt-market-skeleton-color1: #b1bad3;
  --ss-spt-market-skeleton-border1: #ebebeb;
  --ss-spt-market-bg1: #ebebeb;
  --ss-spt-market-color1: #6d7693;
  --ss-spt-today-event-lobby-color1: #0d2245;
  --ss-spt-market-info-color1: #6d7693;
  --ss-spt-market-info-color2: #0d2245;
  --ss-spt-market-info-color3: #0d2245;
  --ss-spt-market-info-color4: #fff;
  --ss-spt-market-info-color5: #b1bad3;
  --ss-spt-market-info-color6: #ff9d00;
  --ss-spt-market-info-bg1: #e9113c;
  --ss-spt-market-info-bg2: #071824;
  --ss-spt-market-info-bg3: #2f4553;
  --ss-spt-market-info-border1: 1rem solid #ebebeb;
  --ss-spt-bet-button-bg1: #f23038;
  --ss-spt-bet-button-color1: #fff;
  --ss-spt-bet-button-color2: #fff;
  --ss-spt-outcome-locked-bg1: #f6f7f8;
  --ss-spt-outcome-locked-color1: #9dabc8;
  --ss-spt-market-info-zhcn-bg1: #ff4d4f;
  --ss-spt-market-info-zhcn-bg2: #f6f7f8;
  --ss-spt-market-info-zhcn-color1: #6d7693;
  --ss-spt-market-info-zhcn-color2: #fff;
  --ss-spt-market-info-zhcn-color3: #ff9800;
  --ss-spt-market-info-zhcn-color4: #9dabc8;
  --ss-spt-market-info-zhcn-color5: #0d2245;
  --ss-spt-market-info-zhcn-border1: #ebebeb;
  --ss-spt-market-info-popup-bg1: #fff;
  --ss-spt-market-info-popup-bg2: #f6f7f8;
  --ss-spt-market-info-popup-bg3: #fff;
  --ss-spt-market-info-popup-bg4: #f6f7f8;
  --ss-spt-market-info-popup-bg5: #f6f7f8;
  --ss-spt-market-info-popup-bg6: #fff;
  --ss-spt-market-info-popup-color1: #0d2245;
  --ss-spt-market-info-popup-color2: #6d7693;
  --ss-spt-market-info-popup-border1: #e4e4e4;
  --ss-spt-page-my-bet-color1: #0d2245;
  --ss-spt-page-my-bet-color2: #fff;
  --ss-spt-page-my-bet-color3: #0d2245;
  --ss-spt-page-my-bet-color4: #0d2245;
  --ss-spt-page-my-bet-bg1: #fff;
  --ss-spt-page-my-bet-bg2: #f23038;
  --ss-spt-page-my-bet-bg3: #fff;
  --ss-spt-page-my-bet-border1: #ebebeb;
  --ss-spt-page-my-bet-border2: #f23038;
  --ss-spt-my-bet-slip-skeleton-bg1: #fff;
  --ss-spt-my-bet-slip-skeleton-bg2: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg3: #ebebeb;
  --ss-spt-my-bet-slip-skeleton-bg6: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg7: #f6f7f8;
  --ss-spt-my-bet-slip-skeleton-bg8: #0f212e;
  --ss-spt-my-bet-slip-skeleton-bg9: #213743;
  --ss-spt-my-bet-slip-skeleton-bg10: #ebebeb;
  --ss-spt-my-bet-slip-skeleton-bg11: #2f4553;
  --ss-spt-my-bet-slip-skeleton-color2: #071d2a;
  --ss-spt-my-bet-slip-skeleton-color6: #0d2245;
  --ss-spt-my-bet-slip-skeleton-color8: #6d7693;
  --ss-spt-my-bet-slip-color1: #6d7693;
  --ss-spt-my-bet-slip-color2: #071d2a;
  --ss-spt-my-bet-slip-color3: #fff;
  --ss-spt-my-bet-slip-color4: #fff;
  --ss-spt-my-bet-slip-color5: #6d7693;
  --ss-spt-my-bet-slip-color6: #0d2245;
  --ss-spt-my-bet-slip-color7: #0d2245;
  --ss-spt-my-bet-slip-color8: #6d7693;
  --ss-spt-my-bet-slip-color9: #4391e7;
  --ss-spt-my-bet-slip-color10: #0d2245;
  --ss-spt-my-bet-slip-bg1: #fff;
  --ss-spt-my-bet-slip-bg2: #f6f7f8;
  --ss-spt-my-bet-slip-bg3: #ebebeb;
  --ss-spt-my-bet-slip-bg4: #2ba471;
  --ss-spt-my-bet-slip-bg5: #6d7693;
  --ss-spt-my-bet-slip-bg6: #f6f7f8;
  --ss-spt-my-bet-slip-bg7: #f6f7f8;
  --ss-spt-my-bet-slip-bg8: #0f212e;
  --ss-spt-my-bet-slip-bg9: #213743;
  --ss-spt-my-bet-slip-bg10: #ebebeb;
  --ss-spt-my-bet-slip-bg11: #2f4553;
  --ss-spt-match-statistics-bg1: #0f212e;
  --ss-spt-match-statistics-bg2: #f6f7f8;
  --ss-spt-match-statistics-bg3: #ebebeb;
  --ss-spt-match-statistics-bg4: #f6f7f8;
  --ss-spt-match-statistics-bg5: #4391e7;
  --ss-spt-match-statistics-bg6: #fff;
  --ss-spt-match-statistics-color1: #ffffffb3;
  --ss-spt-match-statistics-color2: #6d7693;
  --ss-spt-match-statistics-color3: #0d2245;
  --ss-spt-match-statistics-color4: #025be8;
  --ss-spt-match-statistics-border1: 1px solid #ebebeb;
  --ss-spt-match-statistics-shadow1: 2rem 2rem 2rem 0 rgba(0, 0, 0, 0.35);
  --ss-spt-outrights-league-bg1: #ebebeb;
  --ss-spt-outrights-league-color1: #0d2245;
  --ss-spt-outrights-league-color2: #6d7693;
  --ss-spt-floating-bet-slip-bg1: #f23038;
  --ss-spt-floating-bet-slip-bg2: #e91134;
  --ss-spt-floating-bet-slip-bg3: #f88d22;
  --ss-spt-floating-bet-slip-bg4: #f6f7f8;
  --ss-spt-floating-bet-slip-bg5: #f2303814;
  --ss-spt-floating-bet-slip-bg6: #fff;
  --ss-spt-floating-bet-slip-bg7: #0f212e;
  --ss-spt-floating-bet-slip-bg8: #f23038;
  --ss-spt-floating-bet-slip-border1: 1px solid #ebebeb;
  --ss-spt-floating-bet-slip-border2: #f23038;
  --ss-spt-floating-bet-slip-border3: #fff;
  --ss-spt-floating-bet-slip-border4: #ff4d4f;
  --ss-spt-floating-bet-slip-color1: #6d7693;
  --ss-spt-floating-bet-slip-color2: #0d2245;
  --ss-spt-floating-bet-slip-color3: #f23038;
  --ss-spt-floating-bet-slip-color4: #0d2245;
  --ss-spt-floating-bet-slip-color5: #0d2245;
  --ss-spt-floating-bet-slip-color6: #6d7693;
  --ss-spt-floating-bet-slip-color7: #ff4d4f;
  --ss-spt-floating-bet-slip-color8: #b1bad3;
  --ss-spt-floating-bet-slip-color9: #0d2245;
  --ss-spt-floating-bet-slip-color10: #0d2245;
  --ss-spt-floating-bet-slip-color11: #0d2245;
  --ss-spt-floating-bet-slip-color11: #fff;
  --ss-spt-floating-bet-slip-color12: #fff;
  --ss-spt-floating-bet-slip-color13: #fff;
  --ss-spt-floating-bet-slip-color14: #fff;
  --ss-spt-bet-slip-icon-color1: #2ba471;
  --ss-spt-bet-slip-icon-color2: #fff;
  --ss-spt-bet-slip-icon-color3: #fff;
  --ss-spt-bet-slip-icon-color4: #9dabc8;
  --ss-spt-bet-slip-color1: #0d2245;
  --ss-spt-bet-slip-color2: #6d7693;
  --ss-spt-bet-slip-color3: #b1bad3;
  --ss-spt-bet-slip-color4: #fff;
  --ss-spt-bet-slip-color5: #fff;
  --ss-spt-bet-slip-color6: #0d2245;
  --ss-spt-bet-slip-color7: #ed4163;
  --ss-spt-bet-slip-color8: #b1bad3;
  --ss-spt-bet-slip-color9: #fff;
  --ss-spt-bet-slip-bg1: #1a2c38;
  --ss-spt-bet-slip-bg2: #ebebeb;
  --ss-spt-bet-slip-bg3: #e9113c;
  --ss-spt-bet-slip-bg4: #fff;
  --ss-spt-bet-slip-bg5: #fff;
  --ss-spt-bet-slip-bg6: #ff4d4f;
  --ss-spt-bet-slip-bg7: #2f4553;
  --ss-spt-floating-bet-ch-color1: #fff;
  --ss-spt-floating-bet-ch-color2: #f23038;
  --ss-spt-floating-bet-ch-color3: #fff;
  --ss-spt-floating-bet-ch-color4: #0d2245;
  --ss-spt-floating-bet-ch-color5: #f23038;
  --ss-spt-floating-bet-ch-color6: #0d2245;
  --ss-spt-floating-bet-ch-color7: #0d2245;
  --ss-spt-floating-bet-ch-color8: #6d7693;
  --ss-spt-floating-bet-ch-color9: #0d2245;
  --ss-spt-floating-bet-ch-color10: #bec7dc;
  --ss-spt-floating-bet-ch-color11: #f23038;
  --ss-spt-floating-bet-ch-color12: #0d2245;
  --ss-spt-floating-bet-ch-color13: #0d2245;
  --ss-spt-floating-bet-ch-color14: #fff;
  --ss-spt-floating-bet-ch-bg1: #f23038;
  --ss-spt-floating-bet-ch-bg2: #fff;
  --ss-spt-floating-bet-ch-bg3: #fff;
  --ss-spt-floating-bet-ch-bg4: #ebebeb;
  --ss-spt-floating-bet-ch-bg5: #f2303814;
  --ss-spt-floating-bet-ch-bg6: #fff;
  --ss-spt-floating-bet-ch-bg7: #f6f7f8;
  --ss-spt-floating-bet-ch-bg8: #f6f7f8;
  --ss-spt-floating-bet-ch-bg9: #fff;
  --ss-spt-floating-bet-ch-border1: #f23038;
  --ss-spt-floating-bet-ch-border2: #fff;
  --ss-spt-floating-bet-ch-border3: 1rem solid #2f4553;
  --ss-spt-floating-bet-slip-ch-color1: #fff;
  --ss-spt-floating-bet-slip-ch-color2: #fff;
  --ss-spt-floating-bet-slip-ch-bg1: #f23038;
  --ss-spt-floating-bet-slip-ch-bg2: #f88d22;
  --ss-spt-slider-bg1: #f23038;
  --ss-spt-slider-bg2: #fff;
  --ss-spt-slider-color1: #fff;
  --ss-spt-slider-color2: #ffffff80;
  --ss-spt-slider-color3: #f23038;
  --ss-spt-slider-border1: #f23038;
  --ss-spt-bet-slip-ch-bg1: #f6f7f8;
  --ss-spt-bet-slip-ch-bg2: #f6f7f8;
  --ss-spt-bet-slip-ch-bg3: #ff4d4f;
  --ss-spt-bet-slip-ch-bg4: #e9113c;
  --ss-spt-bet-slip-ch-bg5: #6d7693;
  --ss-spt-bet-slip-ch-color1: #1fff20;
  --ss-spt-bet-slip-ch-color2: #fff;
  --ss-spt-bet-slip-ch-color3: #fff;
  --ss-spt-bet-slip-ch-color4: #9dabc8;
  --ss-spt-bet-slip-ch-color5: #0d2245;
  --ss-spt-bet-slip-ch-color6: #0d2245;
  --ss-spt-bet-slip-ch-color7: #9dabc8;
  --ss-spt-bet-slip-ch-color8: #0d2245;
  --ss-spt-bet-slip-ch-color9: #fff;
  --ss-spt-bet-slip-ch-color10: #0d2245;
  --ss-spt-bet-slip-ch-color11: #b1bad3;
  --ss-spt-bet-slip-ch-color12: #fff;
  --ss-spt-bet-slip-ch-color13: #2ba471;
  --ss-spt-bet-slip-ch-color14: #ff4d4f;
  --ss-spt-bet-slip-ch-color15: #6d7693;
  --ss-spt-bet-slip-ch-color16: #9dabc8;
  --ss-spt-bet-slip-ch-border1: 1rem solid #ebebeb;
  --ss-spt-page-my-bet-mt1: 0;
  --ss-spt-dialog-bet-slip-sports-color1: #0d2245;
  --ss-spt-dialog-bet-slip-sports-color2: #6d7693;
  --ss-spt-dialog-bet-slip-sports-bg1: transparent;
  --ss-spt-dialog-bet-slip-sports-mt1: 0;
  --ss-spt-nav-bread-crumb-color1: #0d2245;
  --ss-spt-nav-bread-crumb-color2: #0d2245;
  --ss-spt-nav-bread-crumb-color3: #0d2245;
  --ss-spt-nav-bread-crumb-color4: #6d7693;
  --ss-spt-nav-bread-crumb-bg1: #fff;
  --ss-spt-nav-bread-crumb-bg2: #f6f7f8;
  --ss-spt-fixture-bg1: #fff;
  --ss-spt-fixture-bg2: #071d2a;
  --ss-spt-fixture-bg3: #00e701;
  --ss-spt-fixture-bg4: #2f4553;
  --ss-spt-fixture-bg5: #fff;
  --ss-spt-fixture-bg6: #fff;
  --ss-spt-fixture-border1: 1rem solid #e4e4e4;
  --ss-spt-fixture-border2: #ebebeb;
  --ss-spt-fixture-border3: 2px solid red;
  --ss-spt-fixture-color1: #0d2245;
  --ss-spt-fixture-color2: #9dabc8;
  --ss-spt-fixture-color3: #b1bad3;
  --ss-spt-fixture-color4: #0d2245;
  --ss-spt-fixture-color5: #0d2245;
  --ss-spt-fixture-color6: #6d7693;
  --ss-spt-fixture-color7: #0d2245;
  --ss-spt-fixture-color8: #e9113c;
  --ss-spt-fixture-color9: #0d2245;
  --ss-spt-fixture-color10: #0d2245;
  --ss-spt-fixture-color11: #0d2245;
  --ss-spt-fixture-color12: #9dabc9;
  --ss-spt-fixture-height1: 44rem;
  --ss-spt-fixture-font-size1: 14rem;
  --ss-spt-fixture-font-size2: 16rem;
  --ss-spt-fixture-px: 12rem;
  --ss-spt-level1-live-upcoming-color1: #0d2245;
  --ss-spt-level1-live-upcoming-color2: #0d2245;
  --ss-spt-market-region-bg1: #fff;
  --ss-spt-market-region-bg2: #fff;
  --ss-spt-market-region-color1: #0d2245;
  --ss-spt-market-region-color2: #0d2245;
  --ss-spt-market-region-box-shadow: none;
  --ss-spt-market-league-bg1: #ebebeb;
  --ss-spt-view-all-bg1: #fff;
  --ss-spt-view-all-bg2: #f6f7f8;
  --ss-spt-view-all-color1: #0d2245;
  --ss-secondaryAccordion-box-shadow1: none;
  --ss-spt-market-region-level2-bg1: #f6f7f8;
  --ss-spt-market-region-level2-bg2: #f6f7f8;
  --ss-spt-market-region-level2-bg3: #ebebeb;
  --ss-spt-market-region-level2-color1: #0d2245;
  --ss-spt-market-region-level2-border1: #ebebeb;
  --ss-secondaryAccordion-show-more-border-color: #ebebeb;
}
