.checkbox {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.checkbox.checked {
  background-color: #24ee89;
}
.check-icon {
  color: #000;
}
