.lottery-5d-bg {
  background: #fff;
}
.lottery-5d-bg1 {
  background: #ff646c;
}
.lottery-5d-bg2 {
  background: #25253c;
}
.lottery-5d-text {
  color: #6d7693;
}
.lottery-5d-text1 {
  color: #fd565c;
}
.lottery-5d-text2 {
  color: #fff;
}
.lottery-5d-text3 {
  color: #4d4d4d;
}
.lottery-5d-text4 {
  color: #f23038;
}
.lottery-5d-border {
  border-color: #ebebeb;
}
