.result-num {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border: 1rem solid #151515;
  color: #151515;
  font-size: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 4rem;
  &:last-of-type {
    margin-right: 0;
  }
}
