.activity-container {
  padding-bottom: 60rem;
}
.countdown {
  margin-bottom: 10rem;
  margin-top: 24rem;
  font-size: 12rem;
}
.reward-desc {
  margin-bottom: 16rem;
  padding: 0 12rem;
  font-size: 12rem;
}
.title {
  font-size: 20rem;
  color: #000;
}

.mt-16 {
  margin-top: 16rem;
}
.mt-12 {
  margin-top: 12rem;
}
.mb-20 {
  margin-bottom: 20rem;
}
.dialog-container {
  padding: 0 16rem 16rem;
}
.label {
  margin-bottom: 6rem;
  font-size: 14rem;
  color: #000;
}
.max-value {
  min-width: 70rem;
}

.claim-res-container {
  margin-top: 20rem;
  padding: 16rem;
}
