.activity-container {
  padding-bottom: 60px;
}
.countdown {
  margin-bottom: 10px;
  margin-top: 24px;
  font-size: 12px;
}
.reward-desc {
  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 12px;
}
.title {
  font-size: 20px;
  color: #fff;
}

.mt-16 {
  margin-top: 16px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.dialog-container {
  padding: 0 16px 16px;
}
.label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #b1bad3;
}
.max-value {
  min-width: 70px;
}

.claim-res-container {
  margin-top: 20px;
  padding: 16px;
}
