.bet-btn-purple {
  background: rgba(182, 89, 254, 0.5);
  &.active {
    background: rgba(182, 89, 254, 1);
  }
}
.bet-btn-red {
  background: rgba(242, 48, 56, 0.5);
  &.active {
    background: rgba(242, 48, 56, 1);
  }
}
.bet-btn-green {
  background: rgba(64, 173, 114, 0.5);
  &.active {
    background: rgba(64, 173, 114, 1);
  }
}
