.detail-bg {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f9f9f9;
  border-radius: 4rem;
  line-height: 25rem;
}
.Succeed {
  border-color: #47ba7c;
  color: #47ba7c;
}

.Failed {
  border-color: #fd565c;
  color: #fd565c;
}
.k3-history-bg {
  background: #fff;
}
.k3-history-border {
  border-color: #ebebeb;
}
.k3-history-text1 {
  color: #888;
}
.k3-history-text2 {
  color: #6d7693;
}
.k3-history-text3 {
  color: #9dabc8;
}
.k3-history-text4 {
  color: #47ba7c;
}
.k3-history-text5 {
  color: #fd565c;
}
.k3-history-text6 {
  color: #f2413b;
}
.k3-history-text7 {
  color: #000;
}
