.dices {
  position: relative;
  .item {
    background: rgba(255, 255, 255, 0);
    box-shadow:
      0 -5rem 55rem 0 rgba(0, 0, 0, 0.3) inset,
      0 5rem 5rem 0 rgba(0, 0, 0, 0.3) inset;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
    z-index: 0;
    width: 5rem;
    height: 26rem;
    background: #008b59;
    border-radius: 5rem 0 0 5rem;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
    z-index: 0;
    width: 5rem;
    height: 26rem;
    background: #008b59;
    border-radius: 0 5rem 5rem 0;
  }
}
.k3-remain-time-bg {
  background: #fff;
}
.k3-remain-time-bg1 {
  background: #00b977;
}
.k3-remain-time-bg2 {
  background: #003c26;
}
.k3-remain-time-text {
  color: #8b8b8b;
}
.k3-remain-time-text1 {
  color: #f23038;
}
.k3-remain-time-text2 {
  color: #2c3e50;
}
.k3-remain-time-border {
  border-color: #f23038;
}
